.tuto-introduction {
	background-color:rgba(255, 212, 100, 1);
	padding-top: 50px;
	font-size: 1.4em;
	font-weight: 300;
	padding-bottom: 50px;
}

.tuto-body {
	background-color:rgb(241, 240, 238);
	padding-top: 50px;
	font-size: 1.4em;
	font-weight: 300;
	padding-bottom: 50px;
}

th, td {
    padding: 8px;
    text-align:center;
    border-bottom: 1px solid black;
}

table {
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    boarder-collapse: collapse;
}

.c1 {
    background-color : rgb(255,215,105);
}

.c2 {
    background-color : rgb(255,220,110);
}